@model webbanlaptop.Models.SanPham

@{
    var tt = ViewBag.thongtin as IQueryable<webbanlaptop.Models.ThongTin>;
    var ts = ViewBag.thongso as IQueryable<webbanlaptop.Models.ThongSo>;
    var ha = ViewBag.hinhanh as IQueryable<webbanlaptop.Models.HinhAnh>;
    var km = ViewBag.khuyenmai as IQueryable<webbanlaptop.Models.KhuyenMai>;
    var i = 1;
    var j = 1;
    var k = 1;
}

<h1 class="mt-4">Chi tiết sản phẩm @Model.Ten</h1>

<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a href="/admin">Dashboard</a></li>
    <li class="breadcrumb-item"><a href="/admin/sanphams">Sản phẩm</a></li>
    <li class="breadcrumb-item active">Chi tiết sản phẩm @Model.Ten</li>
</ol>

<div class="row mt-4">
    <div class="col-xl-6">
        <div class="card mb-4">
            <div class="card-header d-flex">
                <div class="me-auto">
                    <a class="btn btn-outline-dark" role="button" data-bs-toggle="modal" data-bs-target="#modalThongTin" aria-disabled="true">Thêm thông tin</a>
                </div>
                <div class="p-2">
                    Thông tin sản phẩm
                </div>
                <div class="p-2">
                    <i class="fa-solid fa-list"></i>
                </div>
            </div>
            <div class="card-body">
                <ol class="list-group list-group-numbered">
                    @foreach (var item in tt)
                    {
                        @if (item.SanPhamID == Model.SanPhamID)
                        {
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                <div class="ms-2 me-auto">
                                    <div class="fw-bold">Trong hộp sản phẩm</div>
                                    @item.TrongHop                        
                                </div>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                <div class="ms-2 me-auto">
                                    <div class="fw-bold">Bảo hành pin</div>
                                    @item.BaoHanh
                                </div>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                <div class="ms-2 me-auto">
                                    <div class="fw-bold">Chính sách</div>
                                    @item.ChinhSach
                                </div>
                            </li>
                            <div class="list-group-item d-flex justify-content-between align-items-start">
                                <form asp-action="DeleteThongTin">
                                    <input type="hidden" name="id" value="@Model.SanPhamID" />
                                    <input type="hidden" name="idtt" value="@item.ThongTinID" />
                                    <button type="submit" class="btn btn-outline-danger">Xóa</button>
                                </form>
                            </div>
                        }
                    }
                </ol>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card mb-4">
            <div class="card-header d-flex">
                <div class="me-auto">
                    <a class="btn btn-outline-dark" role="button" data-bs-toggle="modal" data-bs-target="#modalKhuyenMai">Thêm khuyến mãi</a>
                </div>
                <div class="p-2">
                    Khuyến mãi sản phẩm
                </div>
                <div class="p-2">
                    <i class="fa-solid fa-list"></i>
                </div>
            </div>
            <div class="card-body">
                <ol class="list-group">
                    @foreach(var item in km)
                    {
                        @if(item.SanPhamID == Model.SanPhamID)
                        {
                            <li class="list-group-item d-flex">
                                <div class="me-auto">
                                    @(i++). @item.NoiDung
                                </div>
                                <div>
                                    <a role="button" data-bs-toggle="modal" data-bs-target="#modalKM@(i)">
                                        <i class="fa-solid fa-trash text-danger"></i>
                                    </a>
                                    <div class="modal fade" id="modalKM@(i)" tabindex="-1" aria-labelledby="modalDeleteLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Bạn có chắc chắn xóa?</h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-footer">
                                                    <form asp-action="DeleteKhuyenMai">
                                                        <input type="hidden" name="id" value="@Model.SanPhamID" />
                                                        <input type="hidden" name="idkm" value="@item.KhuyenMaiID" />
                                                        <button type="submit" class="btn btn-danger">Xóa</button>
                                                        <button class="btn btn-secondary" data-bs-dismiss="modal">Hủy bỏ</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        }
                    }
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="row mt-4">
    <div class="col-xl-6">
        <div class="card mb-4">
            <div class="card-header d-flex">
                <div class="me-auto">
                    <a class="btn btn-outline-dark" role="button" data-bs-toggle="modal" data-bs-target="#modalThongSo">Thêm thông số</a>
                </div>
                <div class="p-2">
                    Thông số sản phẩm
                </div>
                <div class="p-2">
                    <i class="fas fa-table me-1"></i>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Tên thông số</th>
                            <th>Nội dung</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ts)
                        {
                            @if (item.SanPhamID == Model.SanPhamID)
                            {
                                <tr>
                                    <td>@(k++)</td>
                                    <td>@item.TenThongSo</td>
                                    <td>@item.NoiDungTS</td>
                                    <td>
                                        <a role="button" data-bs-toggle="modal" data-bs-target="#modalTS@(k)">
                                            <i class="fa-solid fa-trash text-danger"></i>
                                        </a>
                                        <div class="modal fade" id="modalTS@(k)" tabindex="-1" aria-labelledby="modalDeleteLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Bạn có chắc chắn xóa?</h1>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <form asp-action="DeleteThongSo">
                                                            <input type="hidden" name="id" value="@Model.SanPhamID" />
                                                            <input type="hidden" name="idts" value="@item.ThongSoID" />
                                                            <button type="submit" class="btn btn-danger">Xóa</button>
                                                            <button class="btn btn-secondary" data-bs-dismiss="modal">Hủy bỏ</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card mb-4">
            <div class="card-header d-flex">
                <div class="me-auto">
                    <a class="btn btn-outline-dark" role="button" data-bs-toggle="modal" data-bs-target="#modalHinhAnh">Thêm hình ảnh</a>
                </div>
                <div class="p-2">
                    Hình ảnh sản phẩm
                </div>
                <div class="p-2">
                    <i class="fas fa-table me-1"></i>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Hình ảnh</th>
                            <th>Thao tác</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ha)
                        {
                            @if (item.SanPhamID == Model.SanPhamID)
                            {
                                <tr>
                                    <td>@(j++)</td>
                                    <td>
                                        <img src="~/images/products/@item.Anh" class="img-thumbnail" width="200" height="250" />
                                    </td>
                                    <td>
                                        <a role="button" data-bs-toggle="modal" data-bs-target="#modalHA@(j)">
                                            <i class="fa-solid fa-trash text-danger"></i>
                                        </a>
                                        <div class="modal fade" id="modalHA@(j)" tabindex="-1" aria-labelledby="modalDeleteLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Bạn có chắc chắn xóa?</h1>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <form asp-action="DeleteHinhAnh">
                                                            <input type="hidden" name="id" value="@Model.SanPhamID" />
                                                            <input type="hidden" name="idha" value="@item.HinhAnhID" />
                                                            <button type="submit" class="btn btn-danger">Xóa</button>
                                                            <button class="btn btn-secondary" data-bs-dismiss="modal">Hủy bỏ</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalThongTin" tabindex="-1" aria-labelledby="modalThongTinLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="text-center mb-2">
                    <span class="fw-bold fs-3" style="color:#7fad39">Thêm thông tin</span>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="p-2">
                    <form asp-action="Details">
                        <input type="hidden" asp-for="SanPhamID" value="@Model.SanPhamID" />
                        <div class="form-group mb-3">
                            <label class="control-label mb-1">Trong hộp</label>
                            <input type="text" name="TrongHop" class="form-control" />
                        </div>
                        <div class="form-group mb-3">
                            <label class="control-label mb-1">Bảo hành</label>
                            <input type="text" name="BaoHanh" class="form-control" />
                        </div>
                        <div class="form-group mb-3">
                            <label class="control-label mb-1">Chính sách</label>
                            <input type="text" name="ChinhSach" class="form-control" />
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Thêm" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalKhuyenMai" tabindex="-1" aria-labelledby="modalKhuyenMaiLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="text-center mb-2">
                    <span class="fw-bold fs-3" style="color:#7fad39">Thêm khuyến mãi</span>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="p-2">
                    <form asp-action="Details">
                        <input type="hidden" asp-for="SanPhamID" value="@Model.SanPhamID" />
                        <div class="form-group mb-3">
                            <label class="control-label mb-1">Nội dung</label>
                            <input type="text" name="NoiDung" class="form-control" />
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Thêm" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalThongSo" tabindex="-1" aria-labelledby="modalThongSoLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="text-center mb-2">
                    <span class="fw-bold fs-3" style="color:#7fad39">Thêm thông số</span>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="p-2">
                    <form asp-action="Details">
                        <input type="hidden" asp-for="SanPhamID" value="@Model.SanPhamID" />
                        <div class="form-group mb-3">
                            <label class="control-label mb-1">Tên thông số</label>
                            <input type="text" name="TenThongSo" class="form-control" />
                        </div>
                        <div class="form-group mb-3">
                            <label class="control-label mb-1">Nội dung</label>
                            <input type="text" name="NoiDungTS" class="form-control" />
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Thêm" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalHinhAnh" tabindex="-1" aria-labelledby="modalHinhAnhLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="text-center mb-2">
                    <span class="fw-bold fs-3" style="color:#7fad39">Thêm hình ảnh</span>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="p-2">
                    <form asp-action="Details" enctype="multipart/form-data">
                        <input type="hidden" asp-for="SanPhamID" value="@Model.SanPhamID" />
                        <div class="form-group mb-3">
                            <label class="control-label mb-1">Hình ảnh</label>
                            <input type="file" name="file" class="form-control" />
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Thêm" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
