@using Newtonsoft.Json
@inject IHttpContextAccessor HttpContextAccessor
@model IEnumerable<webbanlaptop.Models.SanPham>

@{
    var i = 1;
}

<h1 class="mt-4">Danh sách sản phẩm trong kho</h1>

<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a href="/admin">Dashboard</a></li>
    <li class="breadcrumb-item"><a asp-action="Index">Sản phẩm</a></li>
    <li class="breadcrumb-item active">Kho</li>
</ol>

<div class="mb-5">
    <a class="btn btn-outline-primary" role="button" data-bs-toggle="modal" data-bs-target="#modalCreate">Nhập hàng</a>
    @{
        var session = HttpContextAccessor.HttpContext.Session;
        string jsoncart = session.GetString(webbanlaptop.Areas.Admin.Controllers.SanPhamsController.CARTIMPORT);
        if (jsoncart != null)
        {
            var cart = JsonConvert.DeserializeObject<List<ImportItem>>(jsoncart);
            @if(cart.Count > 0)
            {
                <a asp-controller="SanPhams" asp-action="ViewImport" class="btn btn-outline-success mx-3 position-relative">
                    Phiếu nhập
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                        @cart.Count
                    </span>
                </a>
            } else
            {
                <a asp-controller="SanPhams" asp-action="ViewImport" class="btn btn-outline-success mx-3 disabled">
                    Phiếu nhập
                </a>
            }
        }
    }
    <a asp-controller="SanPhams" asp-action="HistoryImport" class="btn btn-outline-secondary">Lịch sử nhập hàng</a>
</div>

<div class="modal fade" id="modalCreate" tabindex="-1" aria-labelledby="modalCreateLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="text-center mb-2">
                    <span class="fw-bold fs-3" style="color:#7fad39">Nhập sản phẩm</span>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="p-2">
                    <form asp-action="AddToCart">
                        <div class="form-group">
                            <label class="control-label">Sản phẩm</label>
                            <select name="SanPhamID" class="form-control" asp-items="ViewBag.SanPhamID"></select>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Đơn vị tính</label>
                            <select name="DonViTinhID" class="form-control" asp-items="ViewBag.DonViTinhID"></select>
                        </div>
                        <div class="form-group mb-3">
                            <label class="control-label mb-1">Số lượng</label>
                            <input type="number" name="SoLuong" class="form-control" />
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Nhập" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<table class="table table-hover" id="myTable">
    <thead>
        <tr>
            <th>
                STT
            </th>
            <th>
                Hình ảnh
            </th>
            <th>
                Tên sản phẩm
            </th>
            <th>
                Đơn giá
            </th>
            <th>
                Số lượng
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @(i++)
                </td>
                <td>
                    <img src="~/images/products/@Html.DisplayFor(modelItem => item.HinhAnh)" width="100" class="img-thumbnail" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ten)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DonGia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SoLuong)
                </td>
            </tr>
        }
    </tbody>
</table>
