@model IEnumerable<webbanlaptop.Models.KhuyenMaiSanPham>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-hover" id="myTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.KhuyenMais)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SanPhams)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.KhuyenMais.KhuyenMaiID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SanPhams.SanPhamID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.KhuyenMaiSanPhamID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.KhuyenMaiSanPhamID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.KhuyenMaiSanPhamID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
