@model webbanlaptop.Models.DonDatHang

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>DonDatHang</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayLap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayLap)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiaChi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiaChi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoDienThoai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoDienThoai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GhiChu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GhiChu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TienShip)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TienShip)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TongTien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TongTien)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DaVanChuyen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DaVanChuyen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HuyDon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HuyDon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HinhThucThanhToans)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HinhThucThanhToans.HinhThucThanhToanID)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="DonDatHangID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
