@model IEnumerable<webbanlaptop.Models.ChiTietDatHang>

@{
    ViewData["Title"] = "Index";
}

<h1>Chi tiết đơn hàng</h1>

<table class="table table-hover" id="myTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DonDatHangs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SanPhams)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DonGia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoLuong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThanhTien)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DonDatHangs.DonDatHangID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SanPhams.SanPhamID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DonGia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SoLuong)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ThanhTien)
                </td>
            </tr>
        }
    </tbody>
</table>

