@using Newtonsoft.Json;

@{
    ViewData["Title"] = "Home Page";
    var danhmuc = ViewBag.danhmuc as IQueryable<webbanlaptop.Models.DanhMuc>;
    var sanpham = ViewBag.sanpham as IQueryable<webbanlaptop.Models.SanPham>;
    var banner = ViewBag.banner as IQueryable<webbanlaptop.Models.Banner>;
    var i = 0;
}

<section class="hero">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="hero__categories">
                    <div class="hero__categories__all">
                        <i class="fa fa-bars"></i>
                        <span>Danh mục</span>
                    </div>
                    <ul>
                        @foreach(var item in danhmuc){
                            <li><a asp-asp-controller="Home" asp-action="ShopGrid" asp-route-id="@item.DanhMucID">@item.Ten</a></li>
                        }
                    </ul>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="hero__search">
                    <div class="hero__search__form">
                        <form asp-action="SearchProduct">
                            <input type="text" name="name" placeholder="Bạn cần tìm gì?">
                            <button type="submit" class="site-btn">Tìm kiếm</button>
                        </form>
                    </div>
                    <div class="hero__search__phone">
                        <div class="hero__search__phone__icon">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="hero__search__phone__text">
                            <h5>+84 358 908 564</h5>
                            <span>Hỗ trợ 24/7</span>
                        </div>
                    </div>
                </div>
                <div class="hero__item">
                    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            @foreach(var item in banner){
                                <div class="carousel-item @item.BiaDau">
                                    <img src="~/images/banners/@item.HinhAnh" style="width: 900px; height: 350px;">
                                </div>
                            }
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="featured spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>Sản phẩm nổi bật</h2>
                </div>
            </div>
            <div class="featured__controls">
                <ul>
                    <li class="active" data-filter="*">All</li>
                    <li data-filter=".macbook">Macbook</li>
                    <li data-filter=".gaming">Gaming</li>
                    <li data-filter=".vanphong">Văn phòng</li>
                </ul>
            </div>
        </div>

        @{
            var jsoncartlove = Context.Request.Cookies[$"{Context.Session.GetInt32("_TaiKhoanIDU")}_cartlove"];
            var loves = new List<CartLove>();
            @if (!string.IsNullOrEmpty(jsoncartlove))
            {
                loves = JsonConvert.DeserializeObject<List<CartLove>>(jsoncartlove);
            }
        }

        <div class="row featured__filter">
            @foreach(var item in sanpham){
                if (i < 8)
                {
                    <div class="col-lg-3 col-md-4 col-sm-6 mix @item.DacTrung">
                        <div class="featured__item shadow p-3 mb-5 bg-light rounded-3">
                            <div class="featured__item__pic">
                                <img src="~/images/products/@item.HinhAnh" />
                                @if(item.GiamGia > 0){
                                    <div class="product__discount__percent">-@item.GiamGia%</div>
                                }
                                <ul class="featured__item__pic__hover">
                                    @{
                                        var loved = loves.FirstOrDefault(loveyou => loveyou.SanPhams.SanPhamID == item.SanPhamID);
                                    }
                                    <li class="shadow rounded-circle">
                                        @if(loved != null)
                                        {
                                            <a asp-action="RemoveItemLove" asp-route-id="@item.SanPhamID" style="background: #7fad39; border-color: #7fad39; color: #ffffff;"><i class="fa fa-heart"></i></a>
                                        } else
                                        {
                                            <a asp-action="AddToCartLove" asp-route-id="@item.SanPhamID"><i class="fa fa-heart"></i></a>
                                        }
                                    </li>
                                    <li class="shadow rounded-circle"><a asp-action="AddToCart" asp-route-id="@item.SanPhamID"><i class="fa fa-shopping-cart"></i></a></li>
                                </ul>
                            </div>
                            <div class="featured__item__text">
                                <div><h6><a asp-action="Details" asp-route-id="@item.SanPhamID">@item.Ten</a></h6></div>
                                <h5 class="text-danger">@Html.DisplayFor(modelItem => item.ThanhTien)</h5>
                            </div>
                        </div>
                    </div>
                    i++;
                }
            }
        </div>
        <div class="row">

        </div>
    </div>
</section>
